.ENTABLADOR_EDICION_MODAL .img-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.ENTABLADOR_EDICION_MODAL .ENTABLADOR-files .img-thumbnail {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.ENTABLADOR_EDICION_MODAL .eliminarFoto {
  border: 0px;
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: red;
  color: white !important;
  top: 0px;
  right: 0px;
  border-radius: 50%;

  line-height: 18px;
  text-indent: -2px;
  font-size: 25px;
  display: flex;
  align-items: flex-start;
}
.ENTABLADOR-row-eliminado {
  color: var(--danger) !important;
  text-decoration: line-through;
  font-weight: 700;
  text-decoration-thickness: 3px;
}
tr.ENTABLADOR-row-eliminado div.ENTABLADOR-eliminarRow {
  display: none;
}
tr.ENTABLADOR-row-eliminado div.ENTABLADOR-restoreRow {
  display: block !important;
}
table.editable .ENTABLADOR-tabla-anchor {
  position: relative;
}
table.editable[data-edition-type="inline"] tr:not(.ENTABLADOR-row-eliminado) .ENTABLADOR-tabla-anchor:hover .ENTABLADOR-btn-eliminar {
  position: absolute !important;
  display: block !important;
  bottom: -24px;
  left: 2px;
  color: var(--danger);
  width: max-content;
  z-index: 1;
}
table.editable[data-edition-type="inline"] tr:not(.ENTABLADOR-row-eliminado) label[for="ENTABLADOR_FILE_UPLOADER"] {
  display: block;
}
table tr.ENTABLADOR-row-eliminado label[for="ENTABLADOR_FILE_UPLOADER"],
table:not(.editable) label[for="ENTABLADOR_FILE_UPLOADER"],
table:not([data-edition-type="inline"]) label[for="ENTABLADOR_FILE_UPLOADER"] {
  display: none;
}
a.ENTABLADOR-tabla-anchor img:hover {
  filter: brightness(80%);
}
td.ENTABLADOR-textarea {
  max-width: 400px;
}

table[data-long-textarea-behavior="buttons"] td.ENTABLADOR-textarea {
  position: relative;
  overflow: hidden;
}
table[data-long-textarea-behavior="buttons"] td.ENTABLADOR-textarea div.ENTABLADOR-activeFade div.ENTABLADOR-fade {
  max-height: 100px;
  overflow: hidden;

  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-image: -ms-linear-gradient(top, black, transparent);
}

table[data-long-textarea-behavior="buttons"] td.ENTABLADOR-textarea div.ENTABLADOR-activeFade div.ENTABLADOR-fade > span {
  cursor: pointer;
}
table[data-long-textarea-behavior="buttons"] td.ENTABLADOR-textarea div.ENTABLADOR-activeFade div.ENTABLADOR-seeMore {
  display: block !important;
  color: white !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
table[data-long-textarea-behavior="buttons"] .ENTABLADOR-fade-container.ENTABLADOR-seeLess-container .ENTABLADOR-seeLess {
  display: inline-block !important;
  text-align: center;
  color: white !important;
  width: 100%;
}
