#ENTABLADOR_EDICION_MODAL .img-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#ENTABLADOR_EDICION_MODAL .ENTABLADOR-files .img-thumbnail {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
#ENTABLADOR_EDICION_MODAL .eliminarFoto {
  border: 0px;
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: red;
  color: white !important;
  top: 0px;
  right: 0px;
  border-radius: 50%;

  line-height: 18px;
  text-indent: -2px;
  font-size: 25px;
  display: flex;
  align-items: flex-start;
}
